/.cache/
/.xynapz
/eln-cache/
elpa
/eshell/
/projectile-bookmarks.eld
/projects
/recentf
/transient/
/auto-save-list/
/DigiKey-emag-safety-v1.pdf
/init.elc
tree-sitter/
url/
.org-id-locations
.emacs.desktop
.emacs.desktop.lock
lisp_bak